/**
 *  0. ELEMENT
 *    - 0.1. FONTS
 *    - 0.2. FORMS AND SHAPES
 *  1. HEADER
 *    - 1.1. NAVIGATIONBAR
 *    - 1.2. SUBNAV
 *    - 1.3. CAROUSEL  
 *  2. ABOUT THE CONFERENCE
    3. LOCATION
    4. MISSION
    5. TEAM
    6. FOOTER 
 */

body, html {
	position: relative;
	margin: 0;
    padding: 0;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    max-width: 100%;
    overflow-x: hidden;
}

/*0.1 FONTS*------------------------------------------------------------------*/

h1 {
	font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; 
	line-height: 1.42857143;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	color: black;
	text-decoration: none;
	text-transform: uppercase;
	padding-bottom: 20px;
	font-weight: 500;
}
 
p,
a,
li {
 	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
 	font-size: 16px;
 	line-height: 1.42857143;
 	text-align: left;
 }

 @media(min-width: 768px) {
 	p,
 	a,
 	li {
 		text-align: justify;
 	}
 }

h2 {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; 
	line-height: 1.42857143;
	font-size: 18px;
	font-weight: bold;
	color: #ff4d00;
	text-decoration: none;
	font-weight: 500;
}


h3 {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 24px;
	text-align: center;
	color: black;
	text-decoration: none;
	color: grey;
	/* padding-left: 15px; */
}

h4 {
	font-family: font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; 
	line-height: 1.42857143;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	color: black;
	text-decoration: none;
	text-transform: uppercase;
	padding-bottom: 20px;
	font-weight: 600;
	padding-top: 35px;
}

h5 {
	font-size: 16px;
	font-weight: bold;
	text-align: left;
	color: black;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	text-decoration: none;
	padding-top: 10px;
}

a {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	line-height: 1.42857143;
	font-size: 18px;
	font-weight: bold;
	color: #ff4d00;
	text-decoration: none;
	padding-bottom: 8px;
	font-weight: 500;
}

#moreinfo {
	margin: 0;
	padding: 0;
}

#moreinfo a:link {
	text-decoration: none;
	color: rgb(255, 102, 0); 
	font-weight: bold;
}

#moreinfo a:visited {
	text-decoration: none;
	color: rgb(255, 102, 0); 
}

a:hover {
	text-decoration: none;
	color: rgb(255, 102, 0);
}




/*FONTS ends here*/


/*--------------------------------------------------------------------------
----------Navbar starts here*/

 /**1.1. NAVIGATIONBAR */


.navbar {
	background-color: #d8d8d8;
	position: fixed;
	display: flex;
}

.navbar>.container-fluid {
	width: 100%;
}

@media(min-width: 768px){
	.navbar>.container-fluid {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.navbar-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0;
}

@media(min-width: 768px){
	.navbar-header {
		flex: 1;
	}
}

.container-fluid>.navbar-header {
	margin: 0;
}

.navbar-inverse .navbar-nav a {
	text-align: center;
}

ul.navbar-nav {
	padding: 20px 0;
}

@media(min-width: 768px){
	ul.navbar-nav {
		padding: 10px 0;
	}
}

.projectName {
	flex: 1;
	order: -1;
	margin: 10px 0;
	display: flex;
	justify-content: flex-start;
}

@media(min-width: 768px){
	.projectName {
		padding-left: 15px;
	}
}

.projectName a {
	padding: 0;
}

.projectName a img {
	width: 80px;
}

.navbar-toggle {
	height: 42px;
}
	
.navbar-inverse {
	border: none;
	}

.navbar li a {
	text-transform: lowercase;
	letter-spacing: 0.05em;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-size: 19px;
	}

.navbar-inverse .navbar-nav li a {
    color: black;
}

.navbar-inverse .navbar-nav li a:hover {
    color: #ff4d00;
}

.navbar-inverse .navbar-nav > .active > a {
	color: #ff4d00;
	background-color: transparent;
}

.navbar-inverse .navbar-nav>.active>a, 
.navbar-inverse .navbar-nav>.active>a:focus, 
.navbar-inverse .navbar-nav>.active>a:hover {
	background-color: transparent;
	color: #ff4d00;
}

#hello {
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #d8d8d8;
	width: 100%;
	display: flex;
	justify-content: center;
}

#hello>.row {
	display: flex;
	flex-direction: column;
}

@media(min-width: 992px) {
	#hello>.row {
		flex-direction: row;
		width: 90%;
	}
}

#hello>.row>div {
	display: flex;
	flex-direction: column;
	align-items: center;
}


@media(min-width: 992px) {
	#hello>.row>div {
		justify-content: center;
		/* if Items should be aligned left on larger screens */
		/* align-items: flex-start; */
	}
}

#hello>.row>div>p,
#hello>.row>div>#moreinfo {
	text-align: center;
}

#hello>.row>div>#moreinfo {
	width: auto;
}

/* if Items should be aligned left on larger screens */
/* @media(min-width: 992px) {
	#hello>.row>div>p,
	#hello>.row>div>#moreinfo {
		text-align: left;
	}
} */

.learn-more {
	text-align: left;
	float: left;
	margin-top: 17px;
}

.btn-primary {
	background-color: transparent;
	border-color: transparent;
	padding-left: 0px;
}

.btn-primary:hover {
	background-color: transparent;
	border-color: transparent;
}

.btn-primary:active {
	background-color: transparent;
	border-color: transparent;
	box-shadow: none;
}

.btn-primary:focus {
	background-color: transparent;
	border-color: transparent;
	box-shadow: none;
}

#newsletter a {
	text-align: left;
	color: #ff6600;
	font-weight: bold;
}

#countdown {
}

#cntdwn {
	font-size: 38px;
}

#impressum {
	margin-top: 115px;
}

#impressum p {
	text-align: left;
}

#schedule_button {
	background: #ff4d00;
	color: white;
	font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; 
 	font-size: 16px;
 	margin-top: 20px;
 	padding: 8px;
 	box-shadow: 0px 0px 5px black;
 	border-color: #d8d8d8;
}

.img-responsive {
	margin: auto;
}

#partner_container {
	padding: 0;
}

#partner_container .container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding: 0;
	width: 100%;
}

#partner_container .container a img {
	max-width: calc(100% - 40px);
	height: auto;
	max-height: 70px;
	margin: 20px;
}

#sponsors {
	display: flex;
	justify-content: center;
}

.footer--row {
	margin: 20px;
}

#acknowledgement a.footer__license {
	font-weight: 400;
}

/* Media for mobile*/
@media only screen and (max-width: 766px) {

	#background {
		display: none;
		margin-bottom: -500px;
	}

	.collapsing, .in {
		background-color: #d8d8d8;
	}

	.collapsing ul li a, .in ul li a {
		color: #d8d8d8;!important;
	}
	
	.collapsing ul li a:hover, .in ul li a:hover {
		color: #d8d8d8;!important;
	}

	#tls {
		margin-top: 0px !important;
		/* margin-bottom: 40px; */
		background-image: url("../img/background.png");
		background-size: cover;
	}

	#tls p {
		font-size: 37px !important;
		font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	}

	#about_header {
		margin-top: 40px !important;
	}

	#divider {
		height: 0px !important;
	}

}

/*media between mobile and laptop*/

@media only screen and (min-width: 768px) {
	#logo {
		margin-left: 114px !important;
		margin-top: 255px !important;	
	}

	#logorest {
		margin-left: 0px !important;
	}

	#about {
		background-size: 18% !important;
		margin-left: 180px !important;
		margin-top: 21px !important;
	}

	#registernow {
		position: absolute;
		width: 100%;
		top: 0;
		left: 0;
		z-index: 1;
		background-image: url("../img/logo_register.png");
		margin-left: 80px !important;
		margin-top: 80px !important;
		background-size: 30% !important;
		background-repeat: no-repeat;
		height: 156px;
	}

	#location {
		background-size: 13% !important;
		margin-top: 258px !important;
		margin-left: 113px !important;
	}

	#schedule {
		background-size: 18% !important;
		margin-left: 254px !important;
		margin-top: 144px !important;
	}

	/* .navbar li {
		margin-top: -54px;
	}

	.nav {
		padding-right: 0px !important;
	} */

}

/*2. TEAM Page--------------------------- */

#pic {
	width: 90%;
}

.caption p {
	text-align: center;
	font-size: 15px;
}

.thumbnail {
	border-color: white;
}


#divider {
	background-image: url("../img/versuch.png");
	opacity: 0.6;
	background-attachment: fixed;
	background-size: cover;
	color: white;
	padding-top: 50px;
	margin-right: 0px;
	margin-left: 0px;
	opacity: 0.6;
	height: 220px;
	font-size: 1em;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #d8d8d8;
}

/*media for laptop screen*/ 
@media (min-width: 992px) {

	.projectName img {
		/* width: 11% !important; */
	}

	#logo {
		margin-left: 180px !important;
	}

	#about {
	margin-left: 241px !important;
	height: 40% !important;
	}

	#about:hover {
	background-image: url("../img/logo_about.png");
	transition: all 0.8s ease;
	margin-left: 244px !important;
	margin-top: -2px !important;
	height: 40% !important;
	}

	#schedule {
	margin-left: 339px !important;
	margin-top: 191px !important;
	}

	#schedule:hover {
	background-image: url("../img/logo_schedule.png");
	transition: all 0.8s ease;
	margin-left: 349px !important;
	margin-top: 200px !important;
	height: 40% !important;
	}

	#registernow {
		margin-left: 103px !important;
		margin-top: 104px !important;
		background-size: 31% !important;
	}

	#location {
	margin-top: 347px !important;
	margin-left: 156px !important;
	} 

	#location:hover {
	background-image: url("../img/logo_location.png");
	transition: all 0.8s ease;
	margin-top: 355px !important;
	margin-left: 156px !important;
	} 

	#actiontiles_container {
		margin-bottom: 120px;
		padding-top: 40px;
	}

	#actiontiles_container p {
		text-align: left;
	}

	#about_anchor {
		height: 40px;
	}

	#about_container {
		-webkit-column-count: 2;
		-webkit-column-gap: 40px;*/
		text-align: justify;
		padding-top: 20px;
		min-height: 300px;
	}

	.tiles--image {
		height: 95vh;
		background-size: cover;
	} 

	.tiles--text {
		display: table-cell;
		vertical-align: middle !important;
		padding-left: 100px;
		padding-right: 100px;
		text-align: justify;
		padding-top: 120px;
	}

	#schedule_container {
	width: 100%;
	  margin-right: 0;
	  margin-left: 0;
	  padding-bottom: -300px;
	}

	#china_image { 
		background-image: url("../img/shanghai4.jpg");
	}

	#schedule_image {
		background-image: url("../img/zu2.jpg");
	}

	#location_image {
		background-image: url("../img/forum.jpg");
	}

	#team_image {
		background-image: url("../img/team/teampic.png");
	}

	#sponsors img {
		padding-left: 34px; 
	}	

	img.center {
	  	display: block;
	  	margin-left: auto;
	  	margin-right: auto;
	}

	#rollsroyce {
		padding-left: 0px !important;
		padding-right: 26px;
	}

	#partner_container {
		padding-top: 40px;
		min-height: 300px;
	}

	#sponsors {
		margin-top: 45px;
	}


	.footer--row {
	    width: 82%;
	    margin: 0 auto;
	}

}

/*media for laptop screen*/
@media only screen and (min-width: 1224px) {

	#navbarlogo {
		/* margin-left: 0px; */
	}

	.projectName img {
		/* width: 9% !important; */
	}

	#logo {
		margin-left: auto !important;
	}

	#about {
		background-size: 15% !important;
		height: 42% !important;
		margin-top: 30px !important;
		margin-left: 284px !important;
	}

	#about:hover {
	background-image: url("../img/logo_about.png");
	background-size: 15% !important;
	height: 42% !important;
	margin-top: 10px !important;
	margin-left: 285px !important;
	transition: all 0.8s ease;
	}

	#schedule {
		background-size: 16% !important;
		margin-left: 397px !important;
		margin-top: 221px !important;
	}

	#schedule:hover {
		background-image: url("../img/logo_schedule.png");
		background-size: 16% !important;
		margin-left: 410px !important;
		margin-top: 245px !important;
		transition: all 0.8s ease;
	}

	#registernow {
		position: absolute;
		width: 100%;
		top: 0;
		left: 0;
		z-index: 1;
		background-image: url("../img/logo_register.png");
		margin-left: 120px !important;
		margin-top: 126px !important;
		background-size: 29% !important;
		background-repeat: no-repeat;
		height: 156px;
	}

	#location {
		margin-top: 409px !important;
		margin-left: 181px !important;
		background-size: 11% !important;
	}

	#location:hover {
		background-image: url("../img/logo_location.png");
		margin-top: 415px !important;
		margin-left: 174px !important;
		transition: all 0.8s ease;
	}


	#about_header {
		padding-top: 40px;
	}
}

@media only screen and (min-width: 1400px) {

	#registernow {
		background-size: 25% !important;
	}
	
}

/*media for large laptop screen*/
@media only screen and (min-width: 1824px) {

	#background {
		padding-left: 0px !important;
	}

	#logo {
		margin-left: 481px !important;
	}

	#logorest {
		margin-left: 173px !important;
	}

	#about {
		background-size: 14% !important;
		width: 75% !important;
		height: 39% !important;
		margin-left: 453px !important;
		margin-top: 31px !important;
	}

	#about:hover {
	background-image: url("../img/logo_about.png");
	background-size: 14% !important;
	width: 75% !important;
	height: 39% !important;
	margin-left: 454px !important;
	margin-top: -4px !important;
	transition: all 0.8s ease;
	}

	#schedule {
		margin-left: 566px !important;
		background-size: 11% !important;
	}

	#schedule:hover {
		background-image: url("../img/logo_schedule.png");
		margin-left: 582px !important;
		background-size: 11% !important;
		transition: all 0.8s ease;
	}

	#registernow {
		background-size: 18% !important;
		margin-left: 297px !important;
	}

	#location {
		background-size: 10% !important;
		margin-top: 400px !important;
		margin-left: 336px !important;
	}

	#location:hover {
		background-image: url("../img/logo_location.png");
		background-size: 10% !important;
		margin-top: 420px !important;
		margin-left: 336px !important;
		transition: all 0.8s ease;
	}
}

/*Logo starts here*/
#tls {
	width: 100%;
	z-index: 100;
	position: relative;
	margin-top: 40px;
	float: left;
	opacity: 1;
	min-height: 500px;
}

@media(min-width: 768px){
	#tls {
		min-height: auto;
	}
}

#opacity {
	opacity: 0.5;
	border: 1px solid black;

}

#tls p {
	color: grey;
	font-size: 52px;
	font: "Source Code Pro"
	text-decoration: none;
	text-align: center;
	line-height: 135%;
	text-transform: uppercase;
	padding-top: 19px;
}


#background {
	background-color: #DBDBDB;
	background-image: url("../img/background.png");
	background-size: cover;  
	width: 100%;
	padding-left: 100px;
	min-height: 750px;
}


#logo {
	width: 50%;
	left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 35px;
    margin-top: 0px !important;
    position: relative;
    height: 460px;
    overflow: hidden;
    opacity: 0.8;
}

#logorest {
	background-image: url("../img/logo.png");
	background-size: contain;
	background-repeat: no-repeat;
	position: absolute;
	width: 100%;
	height: 100%;
	margin-left: 61px;
}

#about {
	background-image:url("../img/logo_about.png");
	background-repeat: no-repeat;
	background-size: 12%;
	position: absolute;
	width: 100%;
	height: 35%;
	margin-left: 343px;
	margin-top: 35px;
}

#about:hover {
	background-image: url("../img/logo_about.png");
	background-size: 12%;
	margin-top: -4px;
	transition: all 0.8s ease;
	}

#location {
	background-image:url("../img/logo_location.png");
	background-repeat: no-repeat;
	background-size: 11%;
	position: absolute;
	width: 100%;
	height: 100%;
	margin-top: 400px;
	margin-left: 225px;
}

#location:hover {
	background-image: url("../img/logo_location.png");
	background-size: 11%;
	margin-left: 220px;
	margin-top: 415px;
	transition: all 0.8s ease;

}

#schedule {
	background-image: url("../img/logo_schedule.png");
	background-repeat: no-repeat;
	background-size: 13%;
	position: absolute;
	height: 100%;
	width: 100%;
	margin-left: 450px;
	margin-top: 223px;
}

#schedule:hover {
	background-image: url("../img/logo_schedule.png");
	margin-top: 240px;
	margin-left: 460px;
	transition: all 0.8s ease;
}


/*About page starts here */

.column {
	padding-top: 8px;
}

#logo_top {
	width: 100%;
	height: auto;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px; 
	background-color: #d8d8d8;
	opacity: 0.7;
	background-attachment: fixed;
}

#logo_top img {
	width: 100px;
	height: auto;
}


/*Speaker-------------------------------------------------------*/

#speaker_container {
	padding-top: 20px;
	margin-bottom: 150px;
}

#speaker_container .col-md-2.col-xs-6 {
	padding-right: 10px;
	padding-left: 10px;
}

.speaker-image {
	 border: 1px solid #d8d8d8;
	 height: 340px;
}

@media (min-width: 768px) {
	.speaker-image {
		height: 420px;
	}
}



.speaker-details {
	padding-left: 5px;
	padding-right: 5px;
}
/*.speaker-image :hover {
	opacity: 0.7;
	transition: .5s ease;
}*/

.speaker-name {
	margin-bottom: 10px;
	padding-bottom: 11px;
	letter-spacing: 0.01em;
	padding-top: 19px;
}

.speaker-name p {
	text-align: center;
	font-family:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	text-transform: uppercase;
	font-weight: 500;
	font-size: 12px;
	line-height: 1.42857143;
	margin-top: 20px;
	margin-bottom: 21px;
}

@media (min-width: 768px){
	.speaker-name p {
		font-size: 14px;
	}
}

#radermacher {
	padding-bottom: 0px;
	padding-top: 0px;
}

#zweizeiler {
	padding-bottom: 23px;
	padding-top: 19px;
}

#zweizeiler p {
	text-align: center;
	font-family:font-family:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	text-transform: uppercase;
	font-size: 12px;
	line-height: 1.42857143;
	margin-top: 10px;
	margin-bottom: 0px;
}

@media (min-width: 768px){
	 #zweizeiler p {
		font-size: 14px;
	}
}

.speaker-title p {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	letter-spacing: -1px;
}

@media (min-width: 768px){
	.speaker-title p {
		font-size: 16px;
	}
}

.speaker-company p {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	text-align: center;
	margin-top: -10px;
	letter-spacing: -0.04em;
	font-size: 12px;
}

@media (min-width: 768px){
	 .speaker-company p {
		font-size: 16px;
	}
}
/*3. FOOTER*------------------------------------
------------------------------*/

footer {
  background-color: #d8d8d8;
  margin-top: 50px;
  padding-top: 29px;
 }

 footer p {
 	color: black;
 	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; ;
 	font-size: 12px;
 	text-align: center;
 }

 @media (min-width: 768px){
 	footer p {
 		text-align: left;
 	}
 }

 footer a {
 	color: black;
 }

.footer--columns {
  padding: 0 1% 5px;
  overflow: hidden;
  color: white;
}

.footer--columns a {
  	color: black;
 	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; ;
 	font-size: 13px;
}

#acknowledgement {
	padding-top: 2px;
}

#acknowledgement a {
	color: black;
  	font-weight: bold;
 	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; ;
 	font-size: 13px;
}
  
.columns--readmore{
	color: blue;
}

.icon-email, {
  vertical-align: sub;
}

.columns--social-buttons a {
  font-size: 12px;
  text-decoration: none;
  color: black;
  line-height: 0px;
}

#twitter {
	margin-top: -30px;
} 


.zu-logo {
  background: url(../img/zu_logo_white.png) no-repeat center;
  background-size: cover;
  width: 115px;
  height: 30px;
  margin: 30px 0;
  overflow: hidden;
}

.copyright {
background-color: #d8d8d8;
  width: 90%;
  margin: 5px auto 0px;
  margin-top: 5px;
  margin-bottom: 0px;
  padding-top: 5px;
  padding-bottom: 15px;
  text-align: center;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; ;
  color: white;
}

.copyright p {
	text-align: center;
}



.twitter{
	margin-top: 20px;
	margin-left: 5px;
	float: left;
}

.fb-like{	
		float: left;
		margin-top: 30px;
		margin-right: 5px;		
}


/*footer ends here */


/* Schedule Content */

.button-frame {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 15px 0 25px;
}

@media (min-width: 768px){
	.button-frame {
  	width: 70%;
  	margin: 15px auto 25px;	
	}
}
@media (min-width: 992px){
  .button-frame {
  	width: 100%;
  	margin: 0;	
	}
}

button[id^=day] {
  width: 50%;
  height: 50px;
  background-color: rgba(216, 216, 216, 0.5);
  text-transform: uppercase;
  outline: none;
  border: none;
  font-size: 30px;
  color: grey;
  margin-left: 3px;
}
button[id^=day]:nth-of-type(1) {
  margin-left: 0;
}

.expand {
  width: 100%;
  height: 100%;
  list-style: none;
  display: flex;
  background: #d8d8d8;
}
.expand:before {
  content: '';
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 1px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.3);
}
.expand:after {
  content: '';
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 1px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.3);
}

.schedule {
  width: 100%;
  position: relative;
  transform: scale3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transition: all .3s;
  transform-origin: 0 0 0;
  overflow: hidden;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}
.schedule.active {
  transform: scale(0, 1, 0);
  -webkit-transform: translate3d(0, 1, 0);
  -moz-transform: translate3d(0, 1, 0);
  -ms-transform: translate3d(0, 1, 0);
  -o-transform: translate3d(0, 1, 0);
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: all .3s;
  transform-origin: 0 0 0;
}

.strip {
  height: 100%;
  width: 200%;
  white-space: nowrap;
  padding: 0;
  margin: 0;
  display: flex;
  transition: transform .3s;
}

.dates {
  /* font-family: 'OpenSans'; */
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 12px;
  margin: 100px 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  white-space: normal;
}
@media (min-width: 992px) {
  .dates {
    align-items: center;
  }
}

.plain {
  margin: 20px 0;
  padding-right: 35px;
  padding-left: 25px;
  display: flex;
  position: relative;
  float: left;
  width: 100%;
}
@media (min-width: 992px) {
  .plain {
    width: 70%;
  }
}

.plain--white {
  background-color: white;
  padding-top: 25px;
  padding-bottom: 25px;
}

.time {
  margin-right: 50px;
  min-width: 40px;
  text-align: right;
}

.desc {
  max-width: 70%;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .desc {
    flex-direction: row;
    align-items: center;
  }
}
.desc p.topic {
  font-weight: 700;
}
.desc p {
  margin: 0;
  padding: 0;
  font-size: 12px;
}
.desc img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.desc .img-container {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .desc .img-container {
    margin-bottom: 0;
    margin-right: 25px;
  }
}

.timetable {
  display: flex;
  height: calc(5 * 220px + 5 * 10px + 40px);
  position: relative;
  align-items: center;
  width: 100%;
}
@media (min-width: 768px) {
  .timetable {
    flex-direction: column;
    height: calc(2 * 240px + 55px + 70px + 20px);
  }
}
@media (min-width: 992px) {
  .timetable {
    width: 70%;
  }
}

.timetable__vert {
  background: white;
  height: calc(5 * 220px + 4 * 10px);
  margin: 50px 12px 0;
  width: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
@media (min-width: 768px) {
  .timetable__vert {
    flex-direction: row;
    height: 50px;
    width: 100%;
    margin: 10px 0;
    align-items: center;
  }
}
.timetable__vert div {
  width: 220px;
  height: 30px;
  text-align: center;
  transform: translate(calc(-50% + 20px)) rotate(-90deg);
}
@media (min-width: 768px) {
  .timetable__vert div {
    transform: none;
    height: 50px;
    width: 18.5%;
  }
}

.timetable__tracks {
  margin-left: 0;
  width: 40px;
}
@media (min-width: 768px) {
  .timetable__tracks {
    width: 100%;
    padding: 10px 5px;
  }
}
.timetable__tracks div {
  height: 40px;
  transform: translate(calc(-50% + 30px)) rotate(-90deg);
}
@media (min-width: 768px) {
  .timetable__tracks div {
    transform: none;
    border: 2px solid #ff4d00;
    padding: 0px 10px;
		display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: 768px) {
  .timetable__pause {
    height: 35px;
  }
}
@media (min-width: 768px) {
  .timetable__pause div {
    height: 20px;
    display: none;
  }
  .timetable__pause div:nth-of-type(3) {
    display: block;
  }
}

.timetable__track {
  display: flex;
  flex-direction: column;
  height: calc(5 * 220px + 5 * 10px + 40px);
  justify-content: space-between;
  width: calc(50% - 50px);
}
@media (min-width: 768px) {
  .timetable__track {
    flex-direction: row;
    width: 100%;
    height: calc(220px + 20px);
    justify-content: space-around;
    background: white;
    padding: 10px 5px;
  }
}

.track__header {
  height: 40px;
  justify-content: center;
  background: white;
  display: flex;
  align-items: center;
}
@media (min-width: 768px) {
  .track__header {
    display: none;
  }
}

.track__element {
  background: white;
  height: 220px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px 10px;
}
@media (min-width: 768px) {
  .track__element {
    width: 18.5%;
    border: 2px solid #ff4d00;
  }
}
.track__element .track__topic a {
  font-weight: 700;
  font-color: black;
  font-size: 12px;
}
/* Schedule Content END */

/* Modals */
.trackModals {
	display: flex;
	flex-direction: column;
  align-items: center;
}

.modal__close {
	width: 50px;
	height: 50px;
	border: 2px solid white;
	background: none;
	border-radius: 50%;
	position: relative;
	transform: rotate(0deg);
	transition: transform .6s;
	cursor: pointer;
}

.close-frame {
	margin: 30px 0 10px;
}

.modal__close:hover {
	transform: rotate(180deg);
	transition: transform .6s;
}

.modal__close:before {
	content: '';
	height: 20px;
	width: 2px;
	background: rgb(255, 77,0);
	position: absolute;
  left: calc(50% - 1px);
  top: 50%;
  transform: translateY(-50%) translateX(calc(-50% + 1px)) rotate(45deg);
}

.modal__close:after {
	content: '';
	height: 20px;
	width: 2px;
	background: rgb(255, 77,0);
	position: absolute;
  right: calc(50% - 1px);
  top: 50%;
	transform: translateY(-50%) translateX(calc(-50% + 1px)) rotate(-45deg);
}

.modal-content {
	border: none;
	box-shadow: none;
	border-radius: 0;
	margin-bottom: 15px;
	background: none;
}

.modal-scroll {
	overflow-y: scroll;
}

@media(min-width: 992px) {
	.modal-scroll {
		width: 70%;
	}
}

.modal__track {
	color: rgb(255, 77,0);
	font-size: 16px;
	font-weight: 400;
	margin: 10px 20px 20px;
}

@media(min-width: 992px){
	.modal-content__box {
		width: 100%;
		padding: 20px;
		background: white;
	}
}

.modal-content__box__inner {
	width: 100%;
	padding: 20px;
	background: white;
}

@media(min-width: 992px){
	.modal-content__box__inner {
		border: 2px solid rgb(255, 77,0);
	}
}

.modal__title {
	color: rgb(255, 77,0);
	font-weight: 600;
	margin-bottom: 15px;
}

.modal__author {
	display: flex;
	align-items: center;
	margin-top: 15px;
}

.modal__author:first-of-type{
	margin-top: 0;
}

.modal__image {
	width: 75px;
	height: 75px;
	margin-right: 25px;
	border-radius: 50%;
	overflow: hidden;
	flex: none;
	background: url(../img/speaker/unknown.png) center no-repeat;
	background-size: cover;
}

.modal__image img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.modal__desc {
	margin-top: 15px;
}