a /**
 *  0. ELEMENT
 *    - 0.1. FONTS
 *    - 0.2. FORMS AND SHAPES
 *  1. HEADER
 *    - 1.1. NAVIGATIONBAR
 *    - 1.2. SUBNAV
 *    - 1.3. CAROUSEL  
 *  2. ABOUT THE CONFERENCE
    3. LOCATION
    4. MISSION
    5. TEAM
    6. FOOTER 
 */

body, html {
	position: relative;
	margin: 0;
    padding: 0;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    max-width: 100%;
    overflow-x: hidden;
}

/*0.1 FONTS*------------------------------------------------------------------*/

h1 {
	font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; 
	line-height: 1.42857143;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	color: black;
	text-decoration: none;
	text-transform: uppercase;
	padding-bottom: 20px;
	font-weight: 500;
}
 
p,
a,
li {
 	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
 	font-size: 16px;
 	line-height: 1.42857143;
 	text-align: justify;
 }

h2 {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; 
	line-height: 1.42857143;
	font-size: 18px;
	font-weight: bold;
	color: #ff4d00;
	text-decoration: none;
	font-weight: 500;
}


h3 {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 24px;
	text-align: center;
	color: black;
	text-decoration: none;
	color: grey;
	padding-left: 15px;
}

h4 {
	font-family: font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; 
	line-height: 1.42857143;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	color: black;
	text-decoration: none;
	text-transform: uppercase;
	padding-bottom: 20px;
	font-weight: 600;
	padding-top: 35px;
}

h5 {
	font-size: 16px;
	font-weight: bold;
	text-align: left;
	color: black;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	text-decoration: none;
	padding-top: 10px;
}

a {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	line-height: 1.42857143;
	font-size: 18px;
	font-weight: bold;
	color: #ff4d00;
	text-decoration: none;
	padding-bottom: 8px;
	font-weight: 500;
}

#moreinfo {
	margin-top: 20px;
	padding-left: 0px;
}

#moreinfo a:link {
	text-decoration: none;
	color: rgb(255, 102, 0); 
}

#moreinfo a:visited {
	text-decoration: none;
	color: rgb(255, 102, 0); 
}

a:hover {
	text-decoration: none;
	color: rgb(255, 102, 0);
}




/*FONTS ends here*/


/*--------------------------------------------------------------------------
----------Navbar starts here*/

 /**1.1. NAVIGATIONBAR */


.navbar {
	background-color: #d8d8d8;
	position: fixed;
	top: 0;
	height: 67px;
}

.navbar-inverse {
	border-color: transparent;
}
	
.navbar li {
	padding-top: 10px;
	letter-spacing: 0.05em;
	transition: color 900ms;
	font-size: 1.5em;
	}

.navbar li a {
	text-transform: lowercase;
	letter-spacing: 0.05em;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	padding-top: 10px;
	font-size: 19px;
	}

.navbar-inverse .navbar-nav li a {
    color: black;
}

.navbar-inverse .navbar-nav li a:hover {
    color: #ff4d00;
}

.navbar-inverse .navbar-nav > .active > a {
	color: #ff4d00;
	background-color: transparent;
}

.navbar-inverse .navbar-nav>.active>a, 
.navbar-inverse .navbar-nav>.active>a:focus, 
.navbar-inverse .navbar-nav>.active>a:hover {
	background-color: transparent;
	color: #ff4d00;
}

#hello {
	padding-top: 30px;
	background-color: #d8d8d8;
	width: 100%;
	padding-left: 155px;
}

.learn-more {
	text-align: left;
	float: left;
	margin-top: 17px;
}

.btn-primary {
	background-color: transparent;
	border-color: transparent;
	padding-left: 0px;
}

.btn-primary:hover {
	background-color: transparent;
	border-color: transparent;
}

.btn-primary:active {
	background-color: transparent;
	border-color: transparent;
	box-shadow: none;
}

.btn-primary:focus {
	background-color: transparent;
	border-color: transparent;
	box-shadow: none;
}

#newsletter p {
	text-align: left;
}

#countdown {
}

#cntdwn {
	font-size: 38px;
}

#impressum {
	margin-top: 115px;
}

#impressum p {
	text-align: left;
}

#schedule_button {
	background: #ff4d00;
	color: white;
	font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; 
 	font-size: 16px;
 	margin-top: 20px;
 	padding: 8px;
 	box-shadow: 0px 0px 5px black;
 	border-color: #d8d8d8;
}

.img-responsive {
	margin: auto;
}

/* Media for mobile*/
@media only screen and (max-width: 766px) {

	#background {
		visibility: hidden;
		margin-bottom: -500px;
	}

	.collapsing, .in {
		background-color: #d8d8d8;
	}

	.collapsing ul li a, .in ul li a {
		color: #d8d8d8;!important;
	}
	
	.collapsing ul li a:hover, .in ul li a:hover {
		color: #d8d8d8;!important;
	}

	.projectName a {
		margin-top: -29px !important;
		margin-left: -40px;	
		text-transform: uppercase;
		font-size: 13px !important;
	}

	.projectName img {
		width: 12% !important;
	}

	#tls {
		margin-top: 0px !important;
		margin-bottom: 40px;
		background-image: url("../img/background.png");
		background-size: cover;
	}

	#tls p {
		font-size: 37px !important;
		font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	}

	#about_header {
		margin-top: 40px !important;
	}

	#divider {
		height: 0px !important;
	}

}


/*media between mobile and laptop*/

@media only screen and (min-width: 768px) {

	#navbarlogo {
		margin-left: -21px !important;
	}

	.nav {
		margin-top: -6px;
	}

	.projectName img {
		width: 13% !important;
	}

	#logo {
		margin-left: 114px !important;
		margin-top: 255px !important;	
	}

	#logorest {
		margin-left: 0px !important;
	}

	#about {
		background-size: 18% !important;
		margin-left: 180px !important;
		margin-top: 21px !important;
	}

	#location {
		background-size: 13% !important;
		margin-top: 258px !important;
		margin-left: 113px !important;
	}

	#schedule {
		background-size: 18% !important;
		margin-left: 254px !important;
		margin-top: 144px !important;
	}

	.navbar li {
		margin-top: -54px;
	}

	.nav {
		padding-right: 0px !important;
	}

}

/*2. TEAM Page--------------------------- */

#pic {
	width: 90%;
}

.caption p {
	text-align: center;
	font-size: 15px;
}

.thumbnail {
	border-color: white;
}


#divider {
	background-image: url("../img/versuch.png");
	opacity: 0.6;
	background-attachment: fixed;
	background-size: cover;
	color: white;
	padding-top: 50px;
	margin-right: 0px;
	margin-left: 0px;
	opacity: 0.6;
	height: 220px;
	font-size: 1em;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #d8d8d8;
}

/*media for laptop screen*/ 
@media (min-width: 992px) {

	.projectName img {
		width: 11% !important;
	}

	#logo {
		margin-left: 180px !important;
	}

	#about {
	margin-left: 241px !important;
	height: 40% !important;
	}

	#about:hover {
	background-image: url("../img/logo_about.png");
	transition: all 0.8s ease;
	margin-left: 244px !important;
	margin-top: -2px !important;
	height: 40% !important;
	}

	#schedule {
	margin-left: 339px !important;
	margin-top: 191px !important;
	}

	#schedule:hover {
	background-image: url("../img/logo_schedule.png");
	transition: all 0.8s ease;
	margin-left: 349px !important;
	margin-top: 200px !important;
	height: 40% !important;
	}

	#location {
	margin-top: 347px !important;
	margin-left: 156px !important;
	} 

	#location:hover {
	background-image: url("../img/logo_location.png");
	transition: all 0.8s ease;
	margin-top: 355px !important;
	margin-left: 156px !important;
	} 

	.nav {
		margin-top: -13px;
	}

	.navbar li {
	margin-top: -54px;
	}

	.navbar-inverse .navbar-nav li a {
		padding-left: 0px;
	}

	#actiontiles_container {
		margin-bottom: 120px;
		padding-top: 40px;
	}

	#actiontiles_container p {
		text-align: left;
	}

	#about_anchor {
		height: 40px;
	}

	#about_container {
		-webkit-column-count: 2;
		-webkit-column-gap: 40px;*/
		text-align: justify;
		padding-top: 20px;
		min-height: 300px;
	}

	.tiles--image {
		height: 95vh;
		background-size: cover;
		opacity: 0.8;
	} 

	.tiles--text {
		display: table-cell;
		vertical-align: middle !important;
		padding-left: 100px;
		padding-right: 100px;
		text-align: justify;
		padding-top: 120px;
	}

	#schedule_container {
		width: 100%;
	  margin-right: 0;
	  margin-left: 0;
	  padding-bottom: -300px;
	}

	#china_image { 
		background-image: url("../img/shanghai4.jpg");
	}

	#schedule_image {
		background-image: url("../img/zu2.jpg");
	}

	#location_image {
		background-image: url("../img/forum.jpg");
	}

	#team_image {
		background-image: url("../img/team/teampic.png");
	}

	#sponsors img {
		padding-left: 34px; 
	}	

	img.center {
	  	display: block;
	  	margin-left: auto;
	  	margin-right: auto;
	}

	#rollsroyce {
		padding-left: 0px !important;
		padding-right: 30px;
	}

	#partner_container {
		padding-top: 40px;
		height: 60vh;
	}

	#sponsors {
		margin-top: 45px;
	}


	.footer--row {
	    width: 82%;
	    margin: 0 auto;
	}

}

/*media for laptop screen*/
@media only screen and (min-width: 1224px) {

	#navbarlogo {
		margin-left: 0px;
	}

	.projectName img {
		width: 9% !important;
	}

	#logo {
		margin-left: auto !important;
	}

	#about {
		background-size: 15% !important;
		height: 42% !important;
		margin-top: 30px !important;
		margin-left: 284px !important;
	}

	#about:hover {
	background-image: url("../img/logo_about.png");
	background-size: 15% !important;
	height: 42% !important;
	margin-top: 10px !important;
	margin-left: 285px !important;
	transition: all 0.8s ease;
	}

	#schedule {
		background-size: 16% !important;
		margin-left: 397px !important;
		margin-top: 221px !important;
	}

	#schedule:hover {
		background-image: url("../img/logo_schedule.png");
		background-size: 16% !important;
		margin-left: 410px !important;
		margin-top: 245px !important;
		transition: all 0.8s ease;
	}


	#location {
		margin-top: 409px !important;
		margin-left: 181px !important;
		background-size: 11% !important;
	}

	#location:hover {
		background-image: url("../img/logo_location.png");
		margin-top: 415px !important;
		margin-left: 174px !important;
		transition: all 0.8s ease;
	}


	#about_header {
		padding-top: 40px;
	}


	.nav {
		margin-top: -13px;
	}

}

@media only screen and (min-width: 1400px) {

	.projectName img {
		width: 8% !important;
	}

	#navbarlogo {
		margin-left: 24px !important;
	}	

	
}

/*media for large laptop screen*/
@media only screen and (min-width: 1824px) {

	.projectName img {
		width: 6% !important;
	}

	#background {
		padding-left: 0px !important;
	}

	#logo {
		margin-left: 481px !important;
	}

	#logorest {
		margin-left: 173px !important;
	}

	#about {
		background-size: 14% !important;
		width: 75% !important;
		height: 39% !important;
		margin-left: 453px !important;
		margin-top: 31px !important;
	}

	#about:hover {
	background-image: url("../img/logo_about.png");
	background-size: 14% !important;
	width: 75% !important;
	height: 39% !important;
	margin-left: 454px !important;
	margin-top: -4px !important;
	transition: all 0.8s ease;
	}

	#schedule {
		margin-left: 566px !important;
		background-size: 11% !important;
	}

	#schedule:hover {
		background-image: url("../img/logo_schedule.png");
		margin-left: 582px !important;
		background-size: 11% !important;
		transition: all 0.8s ease;
	}

	#location {
		background-size: 10% !important;
		margin-top: 400px !important;
		margin-left: 336px !important;
	}

	#location:hover {
		background-image: url("../img/logo_location.png");
		background-size: 10% !important;
		margin-top: 420px !important;
		margin-left: 336px !important;
		transition: all 0.8s ease;
	}

	

	.navbar li {
		margin-top: -53px;
	}
}


/*media only*/

.nav {
	float: right;
	padding-right: 100px;
	padding-top: 0px;
	color: #ff6600;
}

.projectName {
	font-size: 16px;
	padding-top: 10px;
	font-size: 2em;
	padding-left: 52px;
}

.projectName a {
	color: black;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; ;
	float: right;
	margin-top: 9px;
	font-size: 20px;
	text-transform: uppercase;
	text-align: left;
	font-weight: bold;
}

.projectName img {
	float: left;
	width: 7%;
	margin-right: 4px;
}

.proj-title {
    font-weight:100;
}

#navbarlogo {
	height: auto;
	margin-top: -16px;
	margin-left: 47px;
}

#navbarlogo a {
	vertical-align: middle;
}


/*Logo starts here*/
#tls {
	width: 100%;
	z-index: 100;
	position: relative;
	margin-top: 40px;
	float: left;
	opacity: 1;
}

#opacity {
	opacity: 0.5;
	border: 1px solid black;

}

#tls p {
	color: grey;
	font-size: 52px;
	font: "Source Code Pro"
	text-decoration: none;
	text-align: center;
	line-height: 135%;
	text-transform: uppercase;
	padding-top: 19px;
}


#background {
	background-color: #DBDBDB;
	background-image: url("../img/background.png");
	background-size: cover;  
	width: 100%;
	padding-left: 100px;
	min-height: 750px;
}


#logo {
	width: 50%;
	left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 35px;
    margin-top: 0px !important;
    position: relative;
    height: 460px;
    overflow: hidden;
    opacity: 0.8;
}

#logorest {
	background-image: url("../img/logo.png");
	background-size: contain;
	background-repeat: no-repeat;
	position: absolute;
	width: 100%;
	height: 100%;
	margin-left: 61px;
}

#about {
	background-image:url("../img/logo_about.png");
	background-repeat: no-repeat;
	background-size: 12%;
	position: absolute;
	width: 100%;
	height: 35%;
	margin-left: 343px;
	margin-top: 35px;
}

#about:hover {
	background-image: url("../img/logo_about.png");
	background-size: 12%;
	margin-top: -4px;
	transition: all 0.8s ease;
	}

#location {
	background-image:url("../img/logo_location.png");
	background-repeat: no-repeat;
	background-size: 11%;
	position: absolute;
	width: 100%;
	height: 100%;
	margin-top: 400px;
	margin-left: 225px;
}

#location:hover {
	background-image: url("../img/logo_location.png");
	background-size: 11%;
	margin-left: 220px;
	margin-top: 415px;
	transition: all 0.8s ease;

}

#schedule {
	background-image: url("../img/logo_schedule.png");
	background-repeat: no-repeat;
	background-size: 13%;
	position: absolute;
	height: 100%;
	width: 100%;
	margin-left: 450px;
	margin-top: 223px;
}

#schedule:hover {
	background-image: url("../img/logo_schedule.png");
	margin-top: 240px;
	margin-left: 460px;
	transition: all 0.8s ease;
}


/*About page starts here */

.column {
	padding-top: 8px;
}

#logo_top {
	width: 100%;
	height: auto;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px; 
	background-color: #d8d8d8;
	opacity: 0.7;
	background-attachment: fixed;
}

#logo_top img {
	width: 100px;
	height: auto;
}


/*Speaker-------------------------------------------------------*/

#speaker_container {
	padding-top: 20px;
	margin-bottom: 150px;
}

.speaker-image {
	 border: 1px solid #d8d8d8;
	 height: 330px;
}

/*.speaker-image :hover {
	opacity: 0.7;
	transition: .5s ease;
}*/

.speaker-name {
	margin-bottom: 10px;
	letter-spacing: 0.01em;
}

.speaker-name p {
	text-align: center;
	font-family:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	text-transform: uppercase;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.42857143;
	margin-top: 20px;
	margin-bottom: 21px;
}

#zweizeiler {
	margin-bottom: 10px;
	letter-spacing: 0.01em;
}

#zweizeiler p {
	text-align: center;
	font-family:font-family:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	text-transform: uppercase;
	font-size: 14px;
	line-height: 1.42857143;
	margin-top: 10px;
	margin-bottom: 0px;
}

.speaker-title p {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: -1px;
}

.speaker-company p {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	text-align: center;
	margin-top: -10px;
	letter-spacing: -0.04em;
	font-size: 16px;
}
/*3. FOOTER*------------------------------------
------------------------------*/

footer {
  background-color: #d8d8d8;
  margin-top: 50px;
  padding-top: 29px;
 }

 footer p {
 	color: black;
 	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; ;
 	font-size: 12px;
 	text-align: left;
 }

 footer a {
 	color: black;
 }

.footer--columns {
  padding: 0 1% 5px;
  overflow: hidden;
  color: white;
}

.footer--columns a {
  	color: black;
 	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; ;
 	font-size: 13px;
}

#acknowledgement a {
	color: black;
  	font-weight: bold;
 	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; ;
 	font-size: 13px;
}
  
.columns--readmore{
	color: blue;
}

.icon-email, {
  vertical-align: sub;
}

.columns--social-buttons a {
  font-size: 12px;
  text-decoration: none;
  color: black;
  line-height: 0px;
}

#twitter {
	margin-top: -30px;
} 


.zu-logo {
  background: url(../img/zu_logo_white.png) no-repeat center;
  background-size: cover;
  width: 115px;
  height: 30px;
  margin: 30px 0;
  overflow: hidden;
}

.copyright {
background-color: #d8d8d8;
  width: 90%;
  margin: 5px auto 0px;
  margin-top: 5px;
  margin-bottom: 0px;
  padding-top: 5px;
  padding-bottom: 15px;
  text-align: center;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; ;
  color: white;
}

.copyright p {
	text-align: center;
}



.twitter{
	margin-top: 20px;
	margin-left: 5px;
	float: left;
}

.fb-like{	
		float: left;
		margin-top: 30px;
		margin-right: 5px;		
}


/*footer ends here */